%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
  {jsx,".*",{git,"https://github.com/talentdeficit/jsx.git"}},
  {mochiweb, ".*", {git, "git@github.com:easemob/im-mochiweb.git", "aa557936194132d0a4423dddaa13c20e476e99f9"}}
 ]}.
{cover_enabled, true}.
{sub_dirs, ["rel"]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
